.main {
  padding: 100px 0px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.mainContainer {
  width: 80%;
  display: flex;
  min-height: 350px;
}

.title {
  width: 80%;
  font-size: 45px;
  text-align: center;
  color: #fff;
  border-radius: 50px;
  background-color: #005bab;
}

.imageBox {
  width: 55%;
  height: 350px;
  overflow: hidden;
}

.image {
  width: 100%;
}

.articleBox {
  width: 45%;
  padding: 0px 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-height: 350px;
}

.category {
  background-color: rgb(4, 68, 243);
  color: #fff;
  line-height: 30px;
  height: 30px;
  font-size: 100%;
  margin: 0px;
  padding: 0px 20px;
}

.headline {
  font-size: 22px;
  font-weight: 400;
  height: 80%;
  line-height: 35px;
  padding: 20px 0px 0px 0px;
  margin: 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.541);
}

.time {
  margin: 0px 0px;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
}

.headlineSpecial {
  font-size: 25px;
  font-weight: 400;
  line-height: 40px;
  height: 80%;
  padding: 20px 0px 0px 0px;
  margin: 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.541);
}

.button {
  font-weight: 600;
  font-size: 20px;
  height: 10%;
  margin: 30px 0px 0px 0px;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: 0.3s;
}

.button:hover {
  transition: 0.3s;
  margin: 30px 0px 0px 10px;
}

.subContainer {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.subArticleBox {
  padding: 30px 0px 0px 0px;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-height: 350px;
}

.videoContainer {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 800px;
  margin: 30px;
}

.videoContainer::after {
  display: block;
  content: "";
  padding-top: 56.25%;
}

.videoContainer iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.videoContainer iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 1000px) {
  .mainContainer {
    width: 100%;
    display: flex;
    min-height: 350px;
  }

  .title {
    width: 100%;
    text-align: center;
    font-size: 35px;
  }

  .imageBox {
    width: 50%;
    height: 350px;

    overflow: hidden;
  }

  .image {
    width: 100%;
  }

  .articleBox {
    width: 50%;
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-height: 350px;
  }
  .subContainer {
    width: 100%;
    justify-content: space-between;
  }
}

@media only screen and (max-width: 800px) {
  .videoContainer {
    position: relative;
    overflow: hidden;
    width: 90%;
    margin: 30px;
  }

  .title {
    font-size: 25px;
    border-radius: 0px;
    padding: 10px 0px;
  }

  .headline {
    font-size: 18px;
    padding-bottom: 10px;
    line-height: 25px;
  }

  .headlineSpecial {
    line-height: 30px;
  }

  .mainContainer {
    flex-direction: column-reverse;
    background-color: rgb(224, 224, 224);
  }

  .imageBox {
    width: 100%;
    height: auto;

    overflow: hidden;
  }

  .image {
    width: 100%;
    height: 100%;
  }

  .articleBox {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-height: 100%;
  }

  .subContainer {
    flex-direction: column;
    padding-top: 0px;
  }
  .subArticleBox {
    width: 100%;
    padding: 10px;
    min-height: 100%;
    height: 100%;
    margin: 20px 0px;
    background-color: rgb(224, 224, 224);
  }
  .button {
    font-size: 15px;
    margin: 10px 0px 0px 0px;
  }
  .button:hover {
    transition: 0.3s;
    margin: 10px 0px 0px 10px;
  }
}
