.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: #005BAB;
  overflow: hidden;
  padding-top: 50px;
}

.videoContainer {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.videoContainer::after {
  display: block;
  content: "";
  padding-top: 56.25%;
}

.videoContainer iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.videoContainer iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.logoBox {
  max-width: 500px;
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 10px 0px;
}

.logo {
  width: 100%;
}

.countdownwrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 40px 40px 30px;
  transition: 0.5s;
  overflow: hidden;
}

.backdrop {
  background: rgba(0, 196, 245, 0.153);
  width: 50%;
  border-radius: 10px;
  margin: 30px 0px;
}

.countdownitem {
  font-size: 40px;
  color: rgb(255, 255, 255);
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  line-height: 30px;
  margin: 10px;
  position: relative;
  width: 100px;
  height: 100px;
  transition: 0.5s;
  background-color: #001f47;
  border-radius: 50%;
  box-shadow: 4px 4px 12px 2px rgba(0, 0, 0, 0.384);
}

.countdownitem span {
  color: rgb(255, 255, 255);
  font-size: 12px;
  text-transform: uppercase;
  transition: 0.5s;
}

.countdownsvg {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

.smooth {
  transition: 1s;
}
.title {
  color: rgb(255, 255, 255);
  margin-top: 100px;
}
.subtitle {
  font-size: 30px;
  margin: 0px;
  color: rgb(255, 255, 255);
}

.buttonContainer {
  display: flex;
  justify-content: center;
}

.buttonBox {
  cursor: pointer;
  transition: 0.5s;

  background: #001f47;

  padding: 15px 50px;
  margin: 25px 10px;
}

.buttonBox:hover {
  transition: 0.5s;
  background-position: 100% 50%;
  background: #0064e6;
}
/****************************************/

.h4animate {
  color: rgba(255, 255, 255, 0.9);
  transition: 0.5s;
  margin: 0px;
}

/****************************************/
.infoContainer {
  display: flex;
  align-content: center;
  justify-content: center;
  animation-name: bodyanimate;
  animation-duration: 2s;
  margin-bottom: 50px;
}
.infoRow {
  flex-direction: column;
  display: flex;
  align-items: center;
}

.info {
  margin: 20px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  align-content: center;
}

.label {
  font-weight: 600;
  margin: 0px;
  color: #03f0e4;
}

.infoData {
  margin: 0px;
  color: #fff;
  font-weight: 500;
  font-size: 20px;
}

.messageData {
  margin: 5x;
  color: #fff;
  font-weight: 300;
  font-size: 20px;
  max-width: 800px;
}

@media only screen and (max-width: 1000px) {
  /* .title{
		
	} */
  .smooth {
    display: none;
  }
  .countdownwrapper {
    width: 100%;
  }
  .backdrop {
    width: 90%;
  }
  /* .infoContainer{
		
	} */
}

@media only screen and (max-width: 750px) {
  /* .title{
		

	} */

  .buttonBox {
    margin: 10px 20px 10px 10px;
    cursor: pointer;

    background-size: 400% 400%;

    animation-duration: 2s;

    padding: 10px 10px;
  }

  .h4animate {
    color: rgba(255, 255, 255, 0.9);
    transition: 0.5s;
    font-weight: 500;
    margin: 0px;
    font-size: 15px;
  }

  .infoData {
    margin: 0px;
    color: #fff;
    font-weight: 500;
    font-size: 13px;
  }

  .messageData {
    margin: 5x;
    color: #fff;
    font-weight: 300;
    font-size: 14px;
    max-width: 800px;
  }

  .logoBox {
    max-width: none;
    width: 85%;
    display: flex;
    justify-content: center;
    margin: 30px 0px;
  }

  .logo {
    width: 100%;
  }

  .subtitle {
    width: 80%;
    font-size: 18px;
    text-align: center;
    margin: 5px;
  }

  .countdownwrapper {
    padding: 40px 20px;
    transition: 0.5s;
    overflow: hidden;
  }

  .countdownitem {
    font-size: 20px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    line-height: 30px;
    margin: 5px;
    position: relative;
    width: 50px;
    height: 50px;
  }

  .countdownitem span {
    font-size: 10px;
    position: absolute;
    top: 50px;
    text-transform: uppercase;
    transition: 0.5s;
  }
  .backdrop {
    width: 100%;
  }

  .infoContainer {
    flex-direction: column;
  }
}
